# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Environnement virtuel
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log
